<app-cabecalho></app-cabecalho>
<div class="container mt-5 mb-5">
    <div class="card p-4 mb-4" style="background-color: #f3e8ff; border-radius: 10px;">
        <h5>Flancox - Etodolaco</h5>
        <p>Tomar um comprimido a cada 12 horas se a dor persistir.</p>
        <div class="dropdown-checkbox">
            <button class="btn btn-outline-secondary w-100">Selecione o(s) dia(s)</button>
            <div class="dropdown-checkbox-content">
                <label>
                    <input type="checkbox" value="Segunda"> Segunda
                </label>
                <label>
                    <input type="checkbox" value="Terça"> Terça
                </label>
                <label>
                    <input type="checkbox" value="Quarta"> Quarta
                </label>
                <label>
                    <input type="checkbox" value="Quinta"> Quinta
                </label>
                <label>
                    <input type="checkbox" value="Sexta"> Sexta
                </label>
                <label>
                    <input type="checkbox" value="Sábado"> Sábado
                </label>
                <label>
                    <input type="checkbox" value="Domingo"> Domingo
                </label>
            </div>
        </div>
    </div>
    <div class="card p-4 mb-4 text-center" style="background-color: #f3e8ff; border-radius: 10px;">
        <p>Selecione o horário</p>
        <div class="d-flex justify-content-center mb-3">
            <div class="d-flex flex-column align-items-center">
                <input type="number" class="form-control" value="14" min="00" max="23"
                    style="width: 80px; text-align: center;">
                <small>Horas</small>
            </div>
            <span class="mx-2" style="font-size: 24px;">:</span>
            <div class="d-flex flex-column align-items-center">
                <input type="number" class="form-control" value="00" min="00" max="59"
                    style="width: 80px; text-align: center;">
                <small>Minutos</small>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-link mx-2">Cancelar</a>
            <a href="#" class="btn btn-link mx-2">OK</a>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <a href="#" class="btn btn-light mx-3">Voltar</a>
        <a href="#" class="btn btn-success mx-3">Selecionar</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<app-menu></app-menu>