<app-cabecalho></app-cabecalho>
<div class="container-alterar-senha">
    <div class="card-alterar-senha">
        <form>
            <div class="form-group">
                <label for="senhaAtual">Insira seu número de telefone para receber um código de verificação via SMS.</label>
                <input type="password" class="form-control" id="senhaAtual" placeholder="Digite seu número de telefone">
            </div>
            <div class="d-flex justify-content-between mt-3">
                <button type="button" class="btn btn-secondary" routerLink="/login">Cancelar</button>
                <button type="submit" class="btn btn-custom" >Confirmar</button>
            </div>
        </form>
    </div>
</div>
<app-menu></app-menu>

