<app-cabecalho></app-cabecalho>
<div class="container-redefinir-senha">
    <div class="card-redefinir-senha">
        <div class="alert alert-custom text-center">
            Digite seu telefone e um código será enviado para recuperação da senha
        </div>
        <form>
            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="text" class="form-control" id="telefone" placeholder="Digite seu telefone">
            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-secondary">Cancelar</button>
                <button type="submit" class="btn btn-custom">Redefinir a senha</button>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<app-menu></app-menu>
