<div class="box d-flex justify-content-center align-items-center m-0">
    <div class="card p-4 shadow-lg rounded login-card">
        <div class="card-body text-center">
            <div class="logo">
                <img src="../../../../assets/src/SaudeFacil.png" alt="Logo" class="img-fluid mb-2" width="100">
            </div>
            <form>
                <div class="form-group">
                    <input 
                        type="text" 
                        id="telefone" 
                        name="telefone" 
                        [(ngModel)]="usuario.telefone" 
                        class="form-control"
                        placeholder="Insira o telefone" required>
                </div>
                <div class="form-group">
                    <input 
                    type="password" 
                    id="senha" 
                    name="senha" 
                    [(ngModel)]="usuario.senha"
                    class="form-control" 
                    placeholder="Senha" required>
                </div>
                <div class="form-group d-flex justify-content-end">
                    <a href="#" class="text-muted" routerLink="/usuario-recuperar-senha">Esqueci minha senha</a>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-success btn-block mx-1" (click)="realizarLogin()">Entrar</button>
                    <button type="button" class="btn btn-success btn-block mx-1" routerLink="/usuario-formulario">Cadastrar</button>
                </div>
            </form>
            <div *ngIf="erroLogin">
                <p>Usuário ou senha incorretos</p>
            </div>
        </div>
    </div>
</div>