
    <nav class="navbar-bottom">
        <div class="nav-item">
            <i class="bi bi-house-door" routerLink="hoje"></i>
            <p>Hoje</p>
        </div>
        <div class="nav-item">
            <i class="bi bi-capsule" routerLink="/medicamento"></i>
            <p>Medicações</p>
        </div>
        <div class="nav-item">
            <i class="bi bi-calendar" routerLink="/consulta"></i>
            <p>Consultas</p>
        </div>
        <div class="nav-item">
            <i class="bi bi-people" routerLink="/responsavel"></i>
            <p>Responsáveis</p>
        </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
