
  
  footer {

    width: 100%;
    padding: 10px;
    background-color: #9afcaade;
  }

nav {
  display: flex;
  justify-content: center;
}

nav div {
  min-width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



