<main>
    <app-cabecalho></app-cabecalho>

    <!-- <router-outlet></router-outlet> -->

    <!-- Telas do Componente CONSULTA -->

    <!-- <app-consulta></app-consulta> -->
    <!-- <app-consulta-hoje></app-consulta-hoje> -->
    <!-- <app-consulta-formulario></app-consulta-formulario> -->
    <!-- <app-consulta-historico></app-consulta-historico> -->
    <!-- <app-consulta-lembrete></app-consulta-lembrete> -->
    <!-- <app-consulta-agendados></app-consulta-agendados> -->
     <!-- <app-consulta-imagem></app-consulta-imagem> -->


    <!-- Telas do Componente MEDICAMENTO -->
    <!-- <app-medicamento></app-medicamento>
    <app-medicamento-alarme></app-medicamento-alarme>
    <app-medicamento-formulario></app-medicamento-formulario>
    <app-medicamento-historico></app-medicamento-historico>
    <app-medicamento-imagem></app-medicamento-imagem>
     <app-medicamento-hoje></app-medicamento-hoje> -->


    <!-- Telas do Componente NOTIFICAÇÃO -->
    <!-- <app-notificacao></app-notificacao>
    <app-notificacao-consulta></app-notificacao-consulta>
    <app-notificacao-medicamento></app-notificacao-medicamento> -->


    <!-- Telas do Componente USUARIO -->
    <!-- <app-usuario-formulario></app-usuario-formulario> -->
    <!-- <app-usuario-login></app-usuario-login> -->
    <!-- <app-usuario-foto></app-usuario-foto> -->

    <!-- Telas do Componente RESPONSAVEL -->
    <!-- <app-responsavel></app-responsavel> -->
    <!-- <app-responsavel-formulario></app-responsavel-formulario> -->


    <div class="content">
    <!-- aqui coloca o componente para teste -->
 
    </div>

    <app-menu></app-menu>
</main>