body {
    background-color: #F8F8F8;
}

h5 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

p {
    font-size: 1rem;
    color: #333;
}

button.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-size: 1rem;
}
