<header>   
      <div class="logo">
        <img src="../assets/src/SaudeFacil.png" class="logo">
      </div>
      <div class="dropdown">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownUserIcon" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="../../../../assets/src/icone-idosa.png  " alt="Foto do Usuário" class="user-photo">
        </a>
      
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUserIcon">
          <li><a class="dropdown-item" href="/usuario-formulario">Editar Perfil</a></li>
          <li><a class="dropdown-item" href="/usuario-foto">Alterar Foto</a></li>
          <li><a class="dropdown-item" href="/usuario-alterar-senha">Alterar Senha</a></li>
          <li><a class="dropdown-item" href="/login">Sair</a></li>
        </ul>
      </div>
  </header>

  
  
 