.custom-card {
    background-color: #d6f5dc;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 500px;
}

.card-medicamentos{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.medicamento-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px; 
    padding: 8px;
    background-color: #e0f7e5; 
    border-radius: 8px;
  }
  
  .medicamento-item span {
    font-size: 15px; 
    font-weight: bold;
  }
  
  .btn-custom {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 20px; 
    padding: 5px 12px; 
    font-size: 13px; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
  }
  
  .btn-custom:hover {
    background-color: #218838; 
    transform: scale(1.05); 
  }
  