<app-cabecalho></app-cabecalho>
<div class="container mt-4">

    <div class="card custom-card mb-4">
        <div class="card-body">
            <h5 class="card-title">Bem Vinda, Iraci!!</h5>
            <p>Hoje é {{ dataAtual | date: 'EEEE, d \'de\' MMMM' }}</p>
        </div>
    </div>
    <div class="card custom-card mb-4">
        <div class="card-body">
            <h5 class="card-title">Medicamentos do dia:</h5>
            <div *ngFor="let medicamento of listaMedicamentosHoje" class="card-medicamentos">
                <p class="card-text">
                    {{medicamento.descricao}} - {{medicamento.data | date:'HH:mm'}}
                </p>
                <button class="btn btn-custom" [routerLink]="['/notificacao-medicamento', medicamento.id]">Ver notificação</button>
            </div>
        </div>
    </div>
    <div class="card custom-card mb-4">
        <div class="card-body">
            <h5 class="card-title">Consultas de Hoje:</h5>
            <p 
                class="card-text" 
                *ngFor="let consulta of listaConsultasHoje">
                {{consulta.nomeMedico}} | {{consulta.especialidade}} | {{consulta.data | date:'HH:mm'}}
            </p>
        </div>
    </div>
</div>
<app-menu></app-menu>