<app-cabecalho></app-cabecalho>
<div class="container mt-4">
    <div class="row mb-3">
        <div class="col-12">
            <a href="#" class="circle-button" routerLink="/consulta">
                <span class="arrow-left"></span>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-left">
            <h5 class="page-title">Histórico</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card consulta-item">
                <p>João Elias | Reumatologista | 17/07 - 15:30</p>
            </div>
            <div class="card consulta-item">
                <p>Kelly | Psicóloga | 15/08/24 - 15:00</p>
            </div>
            <div class="card consulta-item">
                <p>Ana | Acupuntura | 18/08 - 09:30</p>
            </div>
        </div>
    </div>
</div>
<app-menu></app-menu>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<footer></footer>