<app-cabecalho></app-cabecalho>
<div class="container">
  <div class="row">
    <div class="col-4">
      <button class="btn btn-custom w-100">
        <i class="bi bi-plus-circle" style="font-size: 2rem;" routerLink="/consulta-formulario"></i>
        <span>Adicionar Consulta</span>
      </button>
    </div>
    <div class="col-4">
      <button class="btn btn-custom w-100">
        <i class="bi bi-calendar-event" style="font-size: 2rem;" routerLink="/consulta-agendados"></i>
        <span>Ver Consultas Agendadas</span>
      </button>
    </div>
    <div class="col-4">
      <button class="btn btn-custom w-100">
        <i class="bi bi-clock-history" style="font-size: 2rem;" routerLink="/consulta-historico"></i>
        <span>Histórico de Consultas</span>
      </button>
    </div>
  </div>
</div>
<app-menu></app-menu>