<app-cabecalho></app-cabecalho>
<div class="container">
  <div class="row mb-4">
    <div class="col-4">
      <button class="btn-custom btn w-100">
        <i class="bi bi-plus-circle" style="font-size: 2rem;" routerLink="/medicamento-formulario"></i>
        <span>Adicionar Medicamento</span>
      </button>
    </div>
    <div class="col-4">
      <button class="btn-custom btn w-100" routerLink="/medicamento-hoje">
        <i class="bi bi-calendar-event" style="font-size: 2rem;"></i>
        <span>Medicamentos do dia</span>
      </button>
    </div>
    <div class="col-4">
      <button class="btn-custom btn w-100">
        <i class="bi bi-clock-history" style="font-size: 2rem;" routerLink="/medicamento-historico"></i>
        <span>Histórico de medicamentos</span>
      </button>
    </div>
</div>
<app-menu></app-menu>