<app-cabecalho></app-cabecalho>
<div class="container">
  <div class="row">
    <div class="col-4">
      <button class="btn btn-custom w-100">
        <i class="bi bi-plus-circle" style="font-size: 2rem;" routerLink="/medicamento-formulario"></i>
        <span>Adicionar Medicamento</span>
      </button>
    </div>
    <div class="col-4">
      <button class="btn btn-custom w-100">
        <i class="bi bi-calendar-event" style="font-size: 2rem;" routerLink="/medicamento-hoje"></i>
        <span>Medicamentos do dia</span>
      </button>
    </div>
    <div class="col-4">
      <button class="btn-custom btn w-100">
        <i class="bi bi-clock-history" style="font-size: 2rem;" routerLink="/medicamento-historico"></i>
        <span>Registro de medicamentos</span>
      </button>
    </div>
  </div>
</div>
<app-menu></app-menu>