<div class="container mt-4">
    <div class="row mb-3">
        <div class="col-12">
            <a href="#" class="circle-button" routerLink="/medicamento">
                <span class="arrow-left"></span>
            </a>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row mt-4">
            <div class="col-12">
                <div class="d-flex flex-column justify-content-center align-items-start bg-light p-3 rounded">
                    <h3 class="mb-0">Bem Vinda Iraci!</h3>
                    <p class="m-0">Quinta Feira, 03/10</p>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="p-3 bg-light rounded">
                    <h5>Medicamentos de hoje:</h5>
                    <ul class="list-unstyled">
                        <br>
                        <li>Omeprazol às 06:00</li>
                        <li>Propanolol as 06:00</li>
                        <li>Metotrexaro às 09:00. </li>
                        <br>
                    </ul>
                </div>
            </div>
        </div>


    </div>