
.container-alterar-senha {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.card-alterar-senha {
    background-color: #e0f7e9; /* Verde claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.form-group {
    margin-bottom: 20px;
}

.button-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

button.btn-custom {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-size: 1rem;
}

.btn-custom:hover {
    background-color: #218838;
}

button.btn-secondary {
    background-color: #6c757d;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-size: 1rem;
}

.btn-secondary:hover {
    background-color: #5a6268;
}
