<div class="container mt-4">
    <div class="row">
        <h2 class="page-title">Contatos</h2>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="consulta-item d-flex justify-content-between align-items-center" onclick="editarContato('Janaina')">
                <span>Janaina - Filha</span>
                <i class="bi bi-star-fill" style="color: gold;"></i> <!-- Ícone de estrela preenchida -->
            </div>
            <div class="consulta-item" onclick="editarContato('Karina')">
                <span>Karina - Filha</span>
            </div>
            <div class="consulta-item" onclick="editarContato('Karla')">
                <span>Karla - Filha</span>
            </div>
            <div class="consulta-item" onclick="editarContato('Jailson')">
                <span>Jailson - Genro</span>
            </div>
        </div>
    </div>

    <div class="row mt-3 justify-content-center">
        <div class="col-md-8 text-center">
            <button class="btn btn-success custom-btn">Inserir novo</button>
        </div>
    </div>
</div>
