<app-cabecalho></app-cabecalho>
<div class="container mt-4">
    <div class="row">
        <h2 class="page-title">Responsáveis</h2>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="consulta-item d-flex justify-content-between align-items-center" 
            [routerLink]="['/responsavel-formulario', responsavel.id]" 
            *ngFor="let responsavel of listaResponsaveis">
                <span>{{responsavel.nome}} - {{responsavel.grauParentesco}}</span>
                <i *ngIf="responsavel.favorito" class="bi bi-star-fill" style="color: gold;"></i> 
            </div>
        </div>
    </div>

    <div class="row mt-3 justify-content-center">
        <div class="col-md-8 text-center">
            <button class="btn btn-success custom-btn"routerLink="/ResponsavelFormularioComponent" [routerLink]="['/responsavel-formulario', null]">Inserir novo</button>
        </div>
    </div>
</div>
<app-menu></app-menu>
