.form-card {
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}