<app-cabecalho></app-cabecalho>
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <a href="#" class="circle-button" routerLink="/medicamento">
                <span class="arrow-left"></span>
            </a>
        </div>
    </div>
    <div class="row p-3 bg-light rounded mx-1">
        <div class="col-12">
            <h5>Digite o nome do medicamento</h5>
            <input type="text" id="medicamentoDescricao" nome="medicamentoDescricao" class="form-control" placeholder=""
                [(ngModel)]="medicamento.descricao">
        </div>

        <div class="col-12">
            <h5>Selecione a data e horário</h5>
            <input type="datetime-local" id="data" nome="data" class="form-control" [(ngModel)]="medicamento.data">
        </div>

        <div class="col-12">
            <h5>Selecione minutos para o lembrete</h5>
            <select name="tempoLembrete" id="tempoLembrete" [(ngModel)]="medicamento.tempoLembrete">
                <option value="5">5 minutos</option>
                <option value="10">10 minutos</option>
                <option value="15">15 minutos</option>
                <option value="30">30 minutos</option>
                <option value="60">60 minutos</option>
            </select>
        </div>

        <div class="col-12">
            <h5>Imagem do medicamento</h5>
            <input 
                type="file" 
                id="medicamentoImagem"
                nome="medicamentoImagem" 
                class="form-control"
                (change)="onFileSelected($event)">
        </div>

        <div class="col-12">
            <h5>Digite uma observação</h5>
            <input type="text" id="observacao" nome="observacao" class="form-control" placeholder=""
                [(ngModel)]="medicamento.observacao">
        </div>
    </div>
</div>
<button type="submit" class="btn btn-success w-100" (click)="salvar()">Confirmar</button>
<app-menu></app-menu>