<div class="content">
    <h5>Defina quanto tempo antes da consulta você quer ser lembrado</h5>
    <div class="time-selector">
        <div>Selecione o padrão de lembrete</div>
        <div class="d-flex justify-content-center align-items-center">
            <input type="text" value="01" readonly> : <input type="text" value="00" readonly>
        </div>
        <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-link mx-2">Cancelar</a>
            <a href="#" class="btn btn-link mx-2">OK</a>
        </div>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck">
        <label class="form-check-label" for="defaultCheck">
            Definir como padrão
        </label>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <a href="#" class="btn btn-light mx-3">Voltar</a>
        <a href="#" class="btn btn-success mx-3">Selecionar</a>
    </div>
</div>